@import 'tailwindcss';

@theme {
  --spacing: 8px;
  --radius-md: 8px;

  --font-mono: "B612 Mono";
  --text-base: 24px;
  --text-base--line-height: 125%;
  --text-lg: 32px;
  --text-lg--line-height: 125%;
  --text-xl: 64px;
  --text-lg--line-height: 125%;
}
